---
---

.page-header a {
  color: #fff;
  text-decoration: none;
}

.tag {
  background-color: #c4ccee;
  border-radius: 1em;
  display: inline-block;
  list-style: none;
  padding: 0.2em 0.5em;
  margin: 0.2em;
}

.no-padding {
  padding: 0;
}